require "formula"

class {{ .ClassName }} < Formula
  version "{{ .Version }}"

  if Hardware.is_64_bit?
    url "{{ .PackageUrl64 }}"
    sha256 "{{ .PackageHash64 }}"
  else
    url "{{ .PackageUrl32 }}"
    sha256 "{{ .PackageHash32 }}"
  end

  def install
    bin.install "{{ .BinName }}"
  end
end
