class {{ .ClassName }} < Formula
  url "{{ .URL }}"
  sha256 "{{ .CheckSum }}"
  {{ if .Description }}desc "{{ .Description }}"{{ end }}
  {{ if .Homepage }}homepage "{{ .Homepage }}"{{ end }}
  
  {{ if .Head }}head "{{ .Head }}"{{ end }}

  def install
    bin.install "{{ .Name }}"
  end

  test do
    assert_match "{{ .Name }} version #{version}", shell_output("#{bin}/{{ .Name }} -v")
  end
end
