require "formula"

class {{ .ClassName }} < Formula
  version "{{ .Version }}"

  {{ if .TargetUrl32 }}
  if Hardware.is_64_bit?
    url "{{ .TargetUrl64 }}"
    sha256 "{{ .TargetHash64 }}"
  else
    url "{{ .TargetUrl32 }}"
    sha256 "{{ .TargetHash32 }}"
  end
  {{ else }}
  url "{{ .TargetUrl64 }}"
  sha256 "{{ .TargetHash64 }}"
  {{ end }}

  def install
    bin.install "{{ .BinName }}"
  end
end
